
html, body
    margin 0
    padding 0
    background #222222
    font-family 'Open Sans Condensed', sans-serif
    overflow hidden
    width: 100%
    height: 100%
    color: #FFFFFF

.container-landing-page
    display flex
    justify-content space-evenly
    align-items center
    flex-direction column
    width 100vw
    height 90vh

    h1
        color #FEFEFE
        font-size 49.5px
        text-align center
    span
        color #FEFEFE
        font-weight 0
    .experience-launcher
        display flex
        justify-content center
        align-items center
        border none
        text-decoration none
        background #3021D9
        border-radius 50px
        outline none
        width 235px
        height 50px
        cursor pointer
        transition 0.7s ease-out
        opacity 0.7
        span
            font-size 18px
            font-weight 700
        &:hover
            opacity 1

.sound
    position absolute
    top 0
    right 0
    margin 5%

.share-list
    position absolute
    right 0
    top calc(60% - ((250px / 2) - (51px / 2)))
    margin-right 2%
    width 45px
    height 250px
    display flex
    flex-direction column
    transition transform 0.7s ease-in-out

.share-logo
    border solid
    border-radius 50%
    border-color #FEFEFE
    background #222222
    width 45px
    height 45px
    display flex
    justify-content center
    align-items center
    position relative
    cursor pointer


.share-media
    position absolute
    display flex
    top calc(0% - 10px)
    justify-content space-evenly
    align-items center
    padding 0px
    padding-top 30px
    height 250px
    width 100%
    flex-direction column
    list-style none
    border-left solid
    border-right solid
    border-bottom solid
    border-radius 40px 40px 40px 40px
    border-color #FEFEFE
    z-index -9999
    transition 0.3s ease-in-out

.unactiv
    opacity 0
    height 30px
    padding-top 0px
    transition 0.3s ease-in-out
    pointer-events none

.diclamer
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    margin: 0 auto
    text-align: center
    font-size: 12px