number(x)
  &:nth-of-type({x})
    {block}

.container-years
    display none
    flex-direction column
    justify-content space-evenly
    align-items center
    width 100%
    height 100%
    margin 0 auto

    .container-information
        display flex
        flex-direction column
        align-items center
        justify-content center


        h1
            font-style normal
            font-weight 800
            font-size 33px
            line-height 45px
            margin 0 auto

    .container-format
        display flex
        flex-direction column
        align-items flex-end
        margin-bottom 50px

        .container-multiple-div
            display flex

            .container-number
                display flex
                align-content center
                justify-content center
                flex-direction column
                flex-flow wrap
                width 74px
                height 60px
                border 2px solid #FEFEFE
                box-sizing border-box
                font-style normal
                font-weight bold
                font-size 33px
                line-height 45px
                cursor pointer
                background #222222

            .cliked-number
                background #FF005C

                svg
                    transform scale(1.25)

.container-map
    display none
    justify-content space-evenly
    height 100%
    width 100%
    margin 0 auto


    .container-column-left

        .container-global-stats
            display flex
            flex-direction column
            margin-top 20px

            .global-stats
                h2
                    margin-bottom 5px
                    font-weight bold
                    font-size 33px

            .chose-stats
                display flex
                justify-content space-between
                h4
                    position relative
                    margin 0
                    font-weight bold
                    font-size 22px
                    z-index 2
                    cursor pointer
                    opacity 0.4
                    opacity 1

                    span
                        position absolute
                        bottom 0%
                        left 0%
                        width 100%
                        height 40%
                        font-weight bold
                        font-size 74.25px
                        z-index -1

        .container-victimes
            p
                display inline-block
                position relative
                margin-top 60px
                margin-bottom 15px
                font-weight bold
                font-size 74.25px
                z-index 2

                span
                    +number(1)
                        position absolute
                        bottom 15%
                        left 8%
                        width 90%
                        height 40%
                        font-weight bold
                        font-size 74.25px
                        z-index -1

            span
                font-weight bold
                letter-spacing 1px
                margin-left 5px
                font-size 22px

        .container-average-ages
            display flex
            justify-content space-around
            align-items baseline
            margin-bottom 30px

            span
                font-weight bold
                font-size 22px

            svg
                padding 0 10px

            p
                +number(1)
                    margin 0
                    font-size 74.25px
                    font-weight bold
                    position relative
                    z-index 2

                    span
                        position absolute
                        bottom 15%
                        left 5%
                        width 100%
                        height 40%
                        font-weight bold
                        font-size 74.25px
                        z-index -1

                +number(2)
                    font-size 22px
                    font-weight bold



        .container-explore-graphs
            text-align center

            a
                font-weight bold
                font-size 15px
                line-height 20px
                padding-bottom 2px
                border-bottom 2px solid
                cursor pointer
                transition 0.05s ease-in

                &:hover
                    color #FF005C

    .container-column-center
        display flex
        justify-content space-evenly
        flex-direction column
        align-items center

        .container-us-state
            p.states-text
                font-weight 800
                font-size 30px
                line-height 45px
                text-align justify
                opacity 0
                transition 0.5s ease-in

        .container-chose-state
            p
                font-style italic
                font-weight normal
                font-size 15px
                line-height 20px
                text-align justify

    .container-column-right
        .container-year
            margin-top 60px

            p
                display block
                margin-right 5px
                font-weight bold
                font-size 22px
                line-height 18px
                text-align justify
                margin 2px auto

            span
                font-style italic
                font-weight normal
                font-size 15px
                line-height 20px
                text-align justify



.container-stats
    display none
    flex-direction column
    justify-content space-between
    height 100%
    width 100%

    *
     margin 0
     padding 0

    .container-line-left
        display flex
        width: 85%
        justify-content space-between
        margin 50px 80px 0px

        .container-back-to-the-map
            margin-top 18px

            a
                user-select none
                font-weight bold
                font-size 15px
                line-height 20px
                text-align justify
                transition 0.05s ease-in

                &:hover
                    color #FF005C


        .container-title-stats
            user-select none
            display flex
            justify-content center
            flex-direction column
            text-align center

            .container-this-title-stats
                h3
                    font-weight bold
                    font-size 33px
                    line-height 45px

        .container-year
            margin-top 12px
            font-weight bold
            font-size 20px
            line-height 30px
            text-align justify
            user-select none

    .container-line-center
        display flex
        justify-content space-around
        align-items center
        width 85%
        margin 0 auto
        justify-content space-around

        .container-explorer-stat
            width 80%
            height 70vh

            div.isNotIn
                display: none

            .container-this-stats
                margin-top -30px

                h5
                    user-select none
                    font-weight bold
                    font-size 24px
                    line-height 33px
                    text-align center

            .victims-cities-data
                width: 100%
                height 100%
                position relative

                svg.container-svg
                    pointer-events: none
                    position: absolute
                    bottom:calc(40% - 407px / 2)
                    left calc(50% - 461px / 2)

                    rect
                        cursor pointer
                        pointer-events: auto

                    text
                        user-select none

        .container-arrow
            transform: translateY(-100%)
            cursor pointer

        .container-victim-information, .container-victim-information-state
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            user-select none

            .container-victim-name
                display: flex;
                flex-direction: column;
                align-items: center;

                .container-victim-image
                    img
                        width 150px
                        border-radius: 50%;
                .container-victim-depth
                    display: flex;
                    justify-content: center;
                    flex-direction: column
                    text-align: center;

                    h2
                        font-weight: bold;
                        font-size: 22px
                        line-height: 30px;
                    h3
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 18px

            .container-victim-incident, .container-victim-cause
                h4
                    margin: 10px auto;
                    font-weight: bold
                    font-size: 22px
                    line-height: 30px

                    span
                        font-weight: normal;
                        display: inline-flex;
                        font-size: 18px;
                        line-height: 18px;
                        text-align: justify;

            .container-victim-incident
                display: flex;

            .container-victim-cause
                h4
                    +number(1)
                        text-align: center;
                        margin-bottom: 20px;
                    +number(2)
                        display: flex
                        span
                            padding-top: 7px;
                            letter-spacing: 1px




    .container-line-right
        width 100%
        height 5%

.thisData
    visibility: none

.flexDisplay
    display flex

.noneDisplay
    display none




svg.svgMap
    stroke #77ABFF
    stroke-width 1px
    cursor pointer

.active
    opacity 0
    pointer-events none
    transition ease-in 450ms


.unactive
    opacity 1
    pointer-events auto

.mesh
    stroke #77ABFF
    stroke-width 1px
    pointer-events none
    fill none

a
    cursor pointer

span.red
    background linear-gradient(to top, hsla(338, 100, 50, 100%) 30%, transparent 0)

span.bleu
    background linear-gradient(to top, hsla(245, 74, 49, 100%) 30%, transparent 0)

//victims race death
.victim-ethnic-kill
    position absolute
    width 100vw
    display flex
    flex-direction column
    justify-content space-around
    align-items center
    margin-top 5%
    h1
        font-size 33px
        font-weight bold
    h2
        font-size 26px
        font-weight bold

.victims-race-data
    display flex
    flex-direction column
    width 100%
    height 100%

.chart
    display flex
    flex-direction row
    width 20%
    height 100%
    overflow visible

.all-button
    width 80%
    height 20vh
    margin 0 auto
    display flex
    left 50%
    flex-direction row
    justify-content space-around

.button-color-chart
    display flex
    justify-content center
    align-items center

.chart
    .bar-black
        fill #FF005C
.chart
    .bar-white
        fill #3021D9
.chart
    .bar-hispanic
        fill #9C27B0
.chart
    .bar-other
        fill #696969

.button-onclick
    background none
    border none
    color white
    text-align center
    font-size 16px
    font-weight bold
    &:hover
        text-decoration-line underline
        text-decoration-style solid
        text-decoration-color red
        transition-duration 0.25s

.histo-bar
    width 100%
    height 100%
    display flex
    justify-content: center;
    transform rotate(180deg)
    border-top solid
    color white

.text-chart
    transform rotate(180deg)

//DEATHS REASONS

.victims-cause-data
    width 100%
    height 100%
    display flex
    justify-content space-around
    flex-direction column
    .svg-reason
        display flex
        justify-content space-evenly
        align-items center
        flex-direction row
        p
            user-select none
            font-size 60px
            font-weight bold
            color white

.svg-reason
        display flex
        justify-content space-evenly
        align-items center
        flex-direction row
        &:hover
            p
                font-size 60px
                font-weight bold
                transition 0.5s
                background linear-gradient(to top, hsla(338, 100, 50, 100%) 30%, transparent 0)



.gun-reason
    position relative
    .ball-explosion
        background white
        top 10px
        right -15px
        border-radius 50%
        position absolute
        width 15px
        height 15px
        opacity 0

.gun-reason
    &:hover
        svg
            transform rotate(-10deg)
            transition 0.25s
        .ball-explosion
            background white
            border-radius 50%
            position absolute
            width 15px
            height 15px
            animation explosion 0.50s

.taser-reason
    position relative
    .ball-elec
        background yellow
        top 10px
        right 3px
        border-radius 50%
        position absolute
        width 15px
        height 15px
        opacity 0
    &:hover
        svg
            transform rotate(5deg)
        .ball-elec
            animation elec 0.25s ease-in-out infinite alternate
            opacity 0.75


@keyframes explosion
    0%
        opacity 0.50
    100%
        transform scale(3) translateX(8px)
        opacity 0

@keyframes elec
    0%
        transform scale(3)
        opacity 0.9
        box-shadow 0 0 10px #fff, 0 0 20px #fff, 0 0 30px yellow, 0 0 40px yellow, 0 0 50px yellow, 0 0 60px yellow, 0 0 70px yellow
    100%
        transform scale(1)
        opacity 0.9
        box-shadow 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white



.victims-gender-data
    width 100%
    height 100%
    display flex
    justify-content space-between
    align-items center
    flex-direction column

.fellow-data
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    flex-direction column

.gender-legend
    width 100%
    display flex
    justify-content space-evenly
    flex-direction row
    p
        font-weight bold
        font-size 30px

.gender-female
    p
        background linear-gradient(to top, #FF005C 30%, transparent 0)

.gender-male
    p
        background linear-gradient(to top, #3021D9 30%, transparent 0)
