*
    margin 0
    padding 0
    overflow hidden
    color white

body
    background #222222
    font-family 'Open Sans Condensed', sans-serif

.wrapper
    position absolute
    width: 100%
    height 100vh
    display: flex
    align-items: center
    flex-direction: column
    justify-content: center
    &__container
        width 100%
        .quotes
            position relative
            height: 500px
            display: flex
            align-items: center
        .quote
            font-weight bold
            font-size 74.25px
            width 1000px
            height 202px
            position absolute
            left 5%
            top 50%
            transform: translateY(-50%)
            opacity 0
            will-change opacity
            transition opacity 0.5s ease-in-out

            span.underline

                background red
                height 20px
.quote.active
    opacity 1

.experience-launcher
        display flex
        justify-content center
        align-items center
        border none
        text-decoration none
        background white
        border-radius 50px
        outline none
        width 235px
        height 50px
        cursor pointer
        transition 0.5s ease-out
        opacity 0
        display none

        &:hover
            background #3021D9
            span
                color white

        span
            color #3021D9
            font-size 18px
            font-weight 700





.quote.active span.red
    animation linered 0.75s (ease-in)
    background linear-gradient(to top, hsla(338, 100, 50, 100%) 30%, transparent 0)

@keyframes linered
    0%
        background none
    10%
        background linear-gradient(to top, hsla(338, 100, 50, 10%) 30%, transparent 0)
    20%
        background linear-gradient(to top, hsla(338, 100, 50, 20%) 30%, transparent 0)
    30%
        background linear-gradient(to top, hsla(338, 100, 50, 30%) 30%, transparent 0)
    40%
        background linear-gradient(to top, hsla(338, 100, 50, 40%) 30%, transparent 0)
    50%
        background linear-gradient(to top, hsla(338, 100, 50, 50%) 30%, transparent 0)
    60%
        background linear-gradient(to top, hsla(338, 100, 50, 60%) 30%, transparent 0)
    70%
        background linear-gradient(to top, hsla(338, 100, 50, 70%) 30%, transparent 0)
    80%
        background linear-gradient(to top, hsla(338, 100, 50, 80%) 30%, transparent 0)
    90%
        background linear-gradient(to top, hsla(338, 100, 50, 90%) 30%, transparent 0)
    100%
        background linear-gradient(to top, hsla(338, 100, 50, 100%) 30%, transparent 0)

.quote.active span.blue
    animation lineblue 0.75s (ease-in)
    background linear-gradient(to top, hsla(245, 74, 49, 100%) 30%, transparent 0)

@keyframes lineblue
    0%
        background none
    10%
        background linear-gradient(to top, hsla(245, 74, 49, 10%) 30%, transparent 0)
    20%
        background linear-gradient(to top, hsla(245, 74, 49, 20%) 30%, transparent 0)
    30%
        background linear-gradient(to top, hsla(245, 74, 49, 30%) 30%, transparent 0)
    40%
        background linear-gradient(to top, hsla(245, 74, 49, 40%) 30%, transparent 0)
    50%
        background linear-gradient(to top, hsla(245, 74, 49, 50%) 30%, transparent 0)
    60%
        background linear-gradient(to top, hsla(245, 74, 49, 60%) 30%, transparent 0)
    70%
        background linear-gradient(to top, hsla(245, 74, 49, 70%) 30%, transparent 0)
    80%
        background linear-gradient(to top, hsla(245, 74, 49, 80%) 30%, transparent 0)
    90%
        background linear-gradient(to top, hsla(245, 74, 49, 90%) 30%, transparent 0)
    100%
        background linear-gradient(to top, hsla(245, 74, 49, 100%) 30%, transparent 0)

